body {
    margin: 0;
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 500;
    color: #2c3e50;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 800px;
    background-color: white;
    border-radius: 5px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Button */
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 500;
}

/* Hover effect */
.btn:hover {
    background-color: #1f618d;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #ddd;
    font-weight: 300;
}
